<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.borja.marketingcomputacional" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Marketing Comp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main_activity.MainActivity"
            android:label="Marketing Comp"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".area_menu.fragments.DashboardMenu"
            android:label="Menu"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".area_menu.fragments.DashboardAttributes"
            android:label="Atributos"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".area_menu.fragments.DashboardProfiles"
            android:label="Perfiles"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
